In [3]:
print("This is Ani")

This is Ani

# ARITHMETIC OPERATOR

In [58]:
x = 5
y = 2 

print (x+y) 
print (x-y) 
print (x*y) 
print (x/y) 
print (x % y)       #1)modulus operator 
print (x // y)      #2)floor division operator 
print (x ** y)      #3)exponent operator

7
3
10
2.5
1
2
25

# RELATIONAL OPERATOR

In [59]:
x = 4
y = 6 

print (x>y)      #1)check if x is greater than y 
print (x<y)      #2)check x is less than y 
print (x == y)   #3)check x is equal to y 
print (x != y)   #4)check x is not equal to y 
print (x <= y)   #5)check x is less than or equal to y
print (x >= y)   #6)check x is greater than or equal to y

False
True
False
True
True
False

# LOGICAL OPERATOR (and,or operators)

In [60]:
a = True 
b = False 

print (b & b) 
print (a & b) 
print (b & a)
print (a & a)

print (a | b)
print (b | a)
print (a | a)
print (b | b)

False
False
False
True
True
True
True
False

# VARIABLE - temporary storage place

In [61]:
student = "rob"
print (student)
student = "tom"
print (student)
student = "brady"
print (student)

rob
tom
brady

# DATATYPES - every variable is assosiated with a data type

In [62]:
a1 = 10               #1)integer
print (type(a1))
a2 = 3.14             #2)float
print (type(a2))
a3 = True             #3)boolean 
print (type(a3))
a4 = "hello world"    #4)string
print (type(a4))       
a5 = 3+4j             #5)complex
print (type(a5))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
<class 'complex'>

# PYTHON TOKENS - smallest meaningful component is a program 

**1) keywords**      - keywords are special reserved words

**2) identifiers**   - Identifiers are names used for variables, functions or objects
                 - No special character expect underscore
                 - Identifiers are case sensitive
                 - First letter cannot be a digit
            
**3) literals**      - literals are constant in python 

**4) operators**

# STRINGS - strings are sequence of characters enclosed within single quotes(''), double quotes(" "), or triple quotes('''  ''')

In [65]:
str1 = 'this is my first string'
print(str1)
str2 = "this is my second string"
print(str2)
str3 = '''this is my last and final string, we use this string when we have to code multiple lines of code.'''
print(str3)

this is my first string
this is my second string
this is my last and final string, we use this string when we have to code multiple lines of code.

# string functions

In [78]:
my_string = "My name is john"

print (len(my_string))                  #1)for finding the length of the string
print (my_string.lower())               #2)converting the string into lower case
print (my_string.upper())               #3)converting the string into upper case
print (my_string.replace('h','a'))      #4)replacing the string

new_string = "ani loves loves burger"

print (new_string.count("loves"))       #5)Numer of occurrences of substring
print (new_string.find("burger"))       #6)finding the index of substring
new_string.split('o')                   #7)splitting a string. this will split all the items before and after o

15
my name is john
MY NAME IS JOHN
My name is joan
2
16

['ani l', 'ves l', 'ves burger']

# extracting individuals charatcers using indexing

In [69]:
my_string = "My name is john"
print (my_string[0])
print (my_string[-1])
print (my_string[5:9] )

M
n
me i

# DATA STRUCTUTES IN PYTHON

**1) Tuple** - Tuple is an ordered collection of elements enclosed within ( ). Tuples are immutable i.e you cant change the  
               values once you stored it. you can store all type of values.
               
**2) List**  - List is an odered collection of elements enclosed within [ ]. lists are mutable unlike tuples, i.e you can change the values. you can store all type of values.


**3) Dictionary** - Dictionary is an unordered collection of key-value pairs enclosed with { }. Dictionary is mutable.


**4) Set**  - Set is an unordered and unindexed collection of elements enclosed with { }. Duplicates are not allowed in Set.

# **tuples basic operation**

In [84]:
tup1=(1,"a",True,2,"b",False)
print(tup1[0])                   #1)extracting the first element
print(tup1[-1])                  #2)extracting the last element
print(tup1[1:4])                 #3)extracting from 1 to 4
print(len(tup1))                 #4)finding the length of the tuple

tup2 = (1,2,3)
tup3 = (4,5,6)
print(tup2 + tup3)               #5)concatenatinf tuples
print(tup2*3)                    #6)repeating 2nd tuple, 3 times
print(tup2*3 + tup3)             #7)repeating and concatenating
print(min(tup2))                 #8)minimum value
print(max(tup3))                 #9)maximum value

1
False
('a', True, 2)
6
(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3, 4, 5, 6)
1
6

# lists basics operation

In [17]:
l1=[1,"a",True,2,"b",False]

[l1[1]]
print (l1)

[l1[1:4]]
print (l1)

l1=[1,"a",True,2,"b",False]                       #1)Changing the element at 0th index
l1[0]=100
print (l1)

l1.pop()                                          #2)Popping the last element
print (l1)

l1.pop()                                          #3)Popping the last element
print (l1)

l1.reverse()                                      #4)Reversing elements of a list
print(l1)

l1.insert(1,"sparta")                             #5)inserting element at a specifies index
print(l1)

l2 = ["mango","apple","banana"]                   #6)sorting a list
l2.sort()                                         
print(l2)

print ( l1+l2 )                                    #7)concatenating lists

print (l1*3)                                       #8)repeating the elements

[1, 'a', True, 2, 'b', False]
[1, 'a', True, 2, 'b', False]
[100, 'a', True, 2, 'b', False]
[100, 'a', True, 2, 'b']
[100, 'a', True, 2]
[2, True, 'a', 100]
[2, 'sparta', True, 'a', 100]
['apple', 'banana', 'mango']
[2, 'sparta', True, 'a', 100, 'apple', 'banana', 'mango']
[2, 'sparta', True, 'a', 100, 2, 'sparta', True, 'a', 100, 2, 'sparta', True, 'a', 100]

# Dictionary basics operations

In [40]:
fruit={"Apple":10,"Orange":20,"Banana":30,"Guava":40}

print (fruit.keys())                                       #1)extracting keys

print (fruit.values())                                     #2)extracting values

fruit["Mango"]=50                                          #3)adding a new element
print (fruit)

fruit["Apple"]=100                                         #4)Changing an exsisting elements 
print (fruit)

fruit.pop("Orange")                                        #5)popping an elements 
print (fruit)

food1={"shawarma":100,"burger":60}
food2={"pizza":99,"kachodi":12}
food1.update(food2)
print (food1)                                             #6)update one dictionary's elements with another

dict_keys(['Apple', 'Orange', 'Banana', 'Guava'])
dict_values([10, 20, 30, 40])
{'Apple': 10, 'Orange': 20, 'Banana': 30, 'Guava': 40, 'Mango': 50}
{'Apple': 100, 'Orange': 20, 'Banana': 30, 'Guava': 40, 'Mango': 50}
{'Apple': 100, 'Banana': 30, 'Guava': 40, 'Mango': 50}
{'shawarma': 100, 'burger': 60, 'pizza': 99, 'kachodi': 12}

# sets basic operations

In [49]:
s1 = {1,3.14,"sparta"}
print (s1)

s1 = {1,3.14,"sparta",3.14,35}                          #2)duplicates are not allowed
print (s1)

s1.add("Hello")                                         #3)update one dictionary's elemets with another
print (s1)

s1.remove("Hello")                                      #4)removing an elements
print (s1)

s1.update([10,20,"ani"])                                #5)updating multiple elements RANDOMLY
print (s1)

s2= {1,2,3}                                        
s3= {"a","b","c"}
print (s2.union(s3))                                    #6)union of two sets

s4= {1,2,3,4,5,6}
s5= {5,6,7,8} 
print (s4.intersection(s5))                             #7)intersection of two sets

{1, 3.14, 'sparta'}
{1, 3.14, 'sparta', 35}
{1, 3.14, 35, 'sparta', 'Hello'}
{1, 3.14, 35, 'sparta'}
{1, 'ani', 3.14, 35, 'sparta', 10, 20}
{1, 2, 3, 'c', 'b', 'a'}
{5, 6}

# if else elif statements

In [50]:
a=10
b=20

if b<a:
    print("b is smaller than a")
else:
    print("a is smaller than b")

a is smaller than b

In [52]:
a=10
b=20
c=30

if (a>b) & (a>c):
    print("a is the greatest")
elif (b>a) & (b>c):
    print ("b is the greatest")
else: 
    print("c is the greatest")

c is the greatest

# if else with tuple, lists and dict

In [58]:
#1) if with tuple

tup1=(1,2,3,4)

if 'z' in tup1:
    print("value z is present in tup1")
else:
    print("value z is not present in tup1")
    
    
#2)if with list

l1=['a','b','c']

if l1[1]=='b':
    l1[1]='z'
    
print (l1)

#3) if with dictionary 

d1= {'k1':10, 'k2':20, 'k3':30}

if d1['k3'] == 30:
    d1['k3']=d1['k3']+100
    
print (d1)

value z is not present in tup1
['a', 'z', 'c']
{'k1': 10, 'k2': 20, 'k3': 130}

# while loop

In [59]:
#1

i=1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [1]:
#2

i=1
n=2
while  i<=10:
    print (n ," * ",i, " = ", n*i)
    i=i+1

2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
2  *  10  =  20

In [2]:
#while wit list 

l1=[1,2,3,4,5]
i=0
while i<len(l1):
    l1[i]=l1[i]+100
    i=i+1
    
print (l1)

[101, 102, 103, 104, 105]

# for loop

In [3]:
l1 = ['mango','apple','grapes','orange']

for i in l1:
    print (i)

mango
apple
grapes
orange

In [6]:
l1=["orange",'black','white']
l2=['chair','book','laptop']

for i in l1:
    for j in l2:
        print(i,j)

orange chair
orange book
orange laptop
black chair
black book
black laptop
white chair
white book
white laptop

# FUNCTIONS - **function is a block of code that performs a specific task**

In [7]:
#1
def hello():
    print("Hello world")
    
hello()

Hello world

In [8]:
#2
def add_10(x):
    return(x+10)
add_10(9)

19

In [10]:
#3
def odd_even(x):
    if x%2==0:
        print(x, "is even")
    else:
        print(x, "is odd")
        
odd_even(10)

10 is even

# lambda function

In [12]:
g=lambda x: x*x*x
g(10)

1000

In [13]:
#lambda with filter

l1=[87,34,56,35,65,24,25,65,66,64]
final_list=list(filter(lambda x:(x%2==0),l1))                    #we filetring out all the odd numbers

final_list

[34, 56, 24, 66, 64]

In [14]:
#lambda with map

l1=[1,2,3,4,5,6,7]
list_final_new=list(map(lambda x:x*2,l1))                        #multiply the number by 2
list_final_new

[2, 4, 6, 8, 10, 12, 14]

In [15]:
#reduce function and lambda

l1=[1,2,3,4,5,6,7]
from functools import reduce 
sum=reduce(lambda x,y: x+y, l1)                                #adding all the numbers in l1

sum

28

# creating the first class

In [33]:
class Phone:                          #name of the class always starts with a capital letter 
    
    def make_call(self):              #self will be the first parameter in all the methods that we create inside the class
        print("make a call")
        
    def play_game(self):
        print("play a game")
        
p1=Phone()

p1.make_call()
p1.play_game()

make a call
play a game

In [25]:
class Game:
    
    def football(self):
        print("everyone loves football")
        
    def baseball(self):
        print("no one likes to play baseball")
        
g1=Game()
g1.football()
g1.baseball()

everyone loves football
no one likes to play baseball

In [30]:
#adding parameters to the class

class Phone:  
    
    def set_color(self,color):
        self.color=color
        
    def set_cost(self,cost):
        self.cost=cost
        
    def show_color(self):
        return self.color
    
    def show_cost(self):
        return self.cost
    
    def make_call(self):               
        print("make a call")
        
    def play_game(self):
        print("play a game")
        
p2=Phone()
    
p2.set_color("blue")
p2.set_cost(5000)

print (p2.show_color())
print (p2.show_cost())

blue
5000

In [36]:
#creating a class with constructor 

class Employee:
    def __init__(self, name , age , salary , gender):                  #init method acts as the constructor 
        
        self.name = name
        self.age = age
        self.salary = salary
        self.gender = gender
        
    def employee_details(self):
        print("Name of employee is" , self.name)
        print("Age of employee is ", self.age)
        print("salary of employee is ", self.salary)
        print("Gender of employee is ", self.gender)
        
e1= Employee('Sam',32, 85000,"male")                                   #instantiating the 'e1' objects
e1.employee_details()

Name of employee is Sam
Age of employee is  32
salary of employee is  85000
Gender of employee is  male

# SINGLE INHERITANCE  

**with inheritance one class can derive the properties of another class**

In [44]:
class Vehicle:
    
    def __init__(self,mileage, cost):
        self.mileage = mileage
        self.cost = cost
                                                                               #creating the base class
    def show_details(self):
        print("I am a vehicle")
        print("Mileage of Vehicle is", self.mileage)
        print("cost of Vehical is", self.cost)
        
v1 = Vehicle(500,500)
v1.show_details()                                                              #instantiating the objects for base class

I am a vehicle
Mileage of Vehicle is 500
cost of Vehical is 500

In [45]:
class Car(Vehicle):
    def show_car(self):
        print("I am a car")                             #creating the child class
        
c1= Car(200,1200)
c1.show_details()                                       #instantiating the object for child class

I am a vehicle
Mileage of Vehicle is 200
cost of Vehical is 1200

In [46]:
c1.show_car()                                           #invoking the child class method

I am a car

In [47]:
#over-riding init method 

class Car(Vehicle):
    
    def __init__(self, mileage,cost,tyres,hp):
        super().__init__(mileage,cost)
        self.tyres = tyres
        self.hp = hp
        
    def show_car_details(self):
        print("I am a car")
        print("Number of tyres are", self.tyres)
        print("Value pf horse power is", self.hp)                          #over-riding init method
        
c1 = Car(20,12000,4,300)
c1.show_details()                                                          #invoking SHOW_DETAILS() method from parent class
c1.show_car_details()                                                      #invoking SHOW_CAR_DETAILS() method from child class

I am a vehicle
Mileage of Vehicle is 20
cost of Vehical is 12000
I am a car
Number of tyres are 4
Value pf horse power is 300

# MULTIPLE INHERITANCE 

**In multiple inheritance, the child inherits from more than 1 parenrs class**

In [49]:
class Parent1():                                                  #parent class one
    def assign_string_one(self,str1):
        self.str1 = str1
        
    def show_string_one(self):
        return self.str1
    
class Parent2():                                                 #parent class two
    def assign_string_two(self,str2):
        self.str2 = str2
        
    def show_string_two(self):
        return self.str2
    
class Derived(Parent1, Parent2):                                  #child class
    def assign_string_three(self,str3):
        self.str3=str3
        
    def show_string_three(self):
        return self.str3

In [51]:
d1 = Derived()
d1.assign_string_one("one")
d1.assign_string_two("two")
d1.assign_string_three("three")                                  #instantiating object of child class

print (d1.show_string_one())                                     #invoking methods
print (d1.show_string_two())
print (d1.show_string_three())

one
two
three

# MULTI-LEVEL INHERITANCE 
**In multi-level inheritance, we have parent, child, grand-child relationship**

In [59]:
class Parent():                                           #parent class
    def assign_name(self,name):
        self.name = name
        
    def show_name(self):
        return self.name
    
class Child(Parent):                                      #child class
    def assign_age(self,age):
        self.age = age
        
    def show_age(self):
        return self.age
        
class GrandChild(Child):                                 #grand-child class
    def assign_gender(self,gender):
        self.gender = gender
        
    def show_gender(self):
        return self.gender

In [61]:
gc = GrandChild()
gc.assign_name("AVINASH")
gc.assign_age(21)
gc.assign_gender('Male')

print (gc.show_name())
print (gc.show_age())
print (gc.show_gender())

AVINASH
21
Male